In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df_bent = pd.read_excel('MPHB-class/bent.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_bent))
df_bent.head()

10229

       0
0  00003
1  00029
2  00032
3  00033
4  00036

In [3]:
df_knee = pd.read_excel('MPHB-class/kneeling.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_knee))
df_knee.head()

1053

       0
0  00021
1  00095
2  00120
3  00126
4  00143

In [4]:
df_lying = pd.read_excel('MPHB-class/lying.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_lying))
df_lying.head()

1123

       0
0  00049
1  00100
2  00109
3  00113
4  00161

In [5]:
df_partial= pd.read_excel('MPHB-class/partial.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_partial))
df_partial.head()

5739

       0
0  00006
1  00016
2  00017
3  00027
4  00028

In [6]:
df_sitting= pd.read_excel('MPHB-class/sitting.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_sitting))
df_sitting.head()

4040

       0
0  00012
1  00022
2  00024
3  00034
4  00053

In [7]:
df_upright = pd.read_excel('MPHB-class/upright.xlsx', index_col=None, header=None, dtype={0: str})
print(len(df_upright))
df_upright.head()

4492

       0
0  00001
1  00002
2  00004
3  00005
4  00007

In [10]:
d_map = {}

for item in df_bent[0]:
    d_map[item] = 'bent'

for item in df_knee[0]:
    d_map[item] = 'kneeling'

for item in df_lying[0]:
    d_map[item] = 'lying'

for item in df_partial[0]:
    d_map[item] = 'occlusion'

for item in df_sitting[0]:
    d_map[item] = 'sitting'

for item in df_upright[0]:
    d_map[item] = 'standing'

In [12]:
print(len(d_map))

26675

In [13]:
with open('index_to_class.json', 'w') as f:
    json.dump(d_map, f)